
body {
	font-family: Verdana;
}

h1 {
	color: blue;
	text-align: center;
}

#cabecera img {
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.elemento-menu {
	display: inline;
	list-style-type: none;
}

#menu {
	text-align: center;
}

#footer > * {
	font-style: italic;
}

#footer p {
	text-align: center;
}

aside h3+h4 {
	font-style: italic;
	color: green;
}

aside h5~p {
	font-size: 8pt;
}

aside h5[title$="small"] {
	text-decoration: underline;
}

aside li[name="fork"] {
	list-style-image: url("https://goo.gl/y0yaro");
}

nav ul li a:hover {
	color: green;
}

p[class="descripcion"]::first-letter {
	font-size: 22pt;
	font-weight: bold;
}

article img {  
    	width: 15%;
     display: block;
    	margin-left: auto;
	margin-right: auto;
}

/*MANTENGA COMENTADA ESTA PARTE HASTA EL FINAL*/
section#left {
	float:left;
	width:70%;
	
}
aside#right {
	float:right;
	width:25%;
}

footer#footer {
	clear:both;
}